<h1>Signup!</h1>
<%= form_tag '/users', method: :post do  %>
  <div>
    <label for="name">Username</label>
    <input type="text" name="name">
  </div>

  <div>
    <label for="email">Email</label>
    <input type="email" name="email">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password">
  </div>

  
  <input type="submit" value="Create Account">

<% end %>