<div class="container">

  <% if @product && @product.errors.any? %>
    <div id="error_explanation">
    <p><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved: </p>

    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
  
 <h1>Add New Book:</h1>
 <%= form_tag "/products", method: :post do %>
    <form class="form-horizontal">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Book Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" placeholder="Title">
        </div>
    </div>

    <div class="form-group">
      <label for="description" class="col-sm-2 control-label">Author</label>
       <div class="col-sm-10">
        <input type="text" class="form-control" id="description" placeholder="Author">
       </div>
    </div>
      
    <div class="form-group">
      <label for="price" class="col-sm-2 control-label">Price</label>
       <div class="col-sm-10">
        <input type="number" class="form-control" id="price" placeholder="Price">
       </div>
    </div>

    <div class="form-group">
      <label for="image" class="col-sm-2 control-label">Image URL</label>
       <div class="col-sm-10">
        <input type="text" class="form-control" id="image" placeholder="Image URL">
       </div>
    </div>
    
    <input type="submit" value="Add Book">

   <% end %>
</div>