<div class="container">

<h1>Hello, World</h1>
<h2>Products:</h2>

<% @products.each do |product| %>

<p><%= product.name %> <%= product.description %></p>
<p><%= product.price %></p>
<img src= <%= product.image %> style="width:150px;height:225px;">

<% end %>

<a href="localhost:3000/littlebee" button class="btn btn-primary">Buy</button>

</div>